.clientsMain
	padding: 60px 0 0
	background-color: #fff
	&__title
		text-align: center
		font-size: 30px
		font-weight: 700
		text-transform: uppercase
		margin: 0 0 30px
	&__list
		visibility: hidden
		height: 1px
		overflow: hidden
		&.slick-initialized
			height: auto
			overflow: visible
			visibility: visible
	.slick-list
		margin: 0 auto
		max-width: 180px
	&__item
		border-radius: 50%
		overflow: hidden
		background-color: #f9f9f9
		margin: 0 5px