@import "bourbon"

@media only screen and (max-width : 991px)
	.priceList
		display: block
		thead,
		tbody,
		tr,
		td,
		th
			display: block
	.slick-arrow
		background-color: rgba(255,255,255,.5)
	.slider	
		&__item
			background-image: none !important
		.slick-dots
			display: none !important
	.servicesMain
		.services__groupCaption
			background-image: none !important
		.services 
			height: auto !important
			ul
				position: relative !important
				left: auto !important
				top: auto !important
				transform: none !important
	.servicesPage
		.services
			ul
				position: relative !important
				left: auto !important
				top: auto !important
				transform: none !important

@media only screen and (min-width : 480px)
	.slick-prev
		left: 50%
		margin-left: -245px
	.slick-next
		right: 50%
		margin-right: -245px
	.clientsMain 
		&__list
			padding: 0 10px
		.slick-list
			max-width: none
	.opinionMain
		.slick-list
			max-width: none
			overflow: hidden

@media only screen and (min-width : 992px)
	$container: 1140px
	.mobile
		display: none

	.container
		max-width: $container

	.header
		display: block
		position: relative
		transition: all .2s
		position: fixed
		z-index: 3
		left: 0
		top: 0
		width: 100%
		&__inner
			padding-left: 190px
			transition: all .2s
		&__main
			border-bottom: 2px solid $color
			background-color: #fff
			position: relative
			z-index: 5
		&__top
			display: flex
			margin-bottom: 15px
			transition: all .2s
		&__bottom
			display: flex
			align-items: center
			transition: all .2s
		&__services
			background-color: $color
			box-shadow: 0 0 0 0 transparent
			transform: translate3d(0,-100%,0)
			transition: all .2s
			position: absolute
			z-index: 4
			top: 100%
			left: 0
			width: 100%
			overflow: hidden
			&.show
				box-shadow: 0 20px 10px 3px rgba(#010101, .2)
				transform: translate3d(0,0,0)
		&__inner
			position: relative
			padding-top: 18px
			padding-bottom: 9px
			line-height: 1
		&__logo
			position: absolute
			left: 0
			top: 10px
			width: 75px
			transition: all .2s
		&__address
			font-size: 18px
			font-weight: 100
			transition: all .2s
		&__email
			font-weight: 500
			color: inherit
			position: relative
			margin-left: 35px
			&::before
				content: ''
				position: absolute
				top: 50%
				margin-top: -3px
				left: -21px
				width: 6px
				height: 6px
				background-color: $color
			&:hover
				color: $color
		&__contacts
			margin-left: auto
			text-align: right
		&__phone
			font-weight: 700
			font-size: 25px
			display: block
			color: inherit
			text-decoration: none
			transition: all .2s
			&:hover
				color: $color
		&__openpopup
			font-size: 18px
			font-weight: 100
			text-decoration: underline
			padding: 0
			border: none
			background-color: transparent
			cursor: pointer
			margin-top: 5px
			&:hover
				text-decoration: none
		&__socials
			font-size: 28px
			white-space: nowrap
		&__nav
			flex-basis: 100%
			ul
				display: flex
				justify-content: space-between
			li
				position: relative
				padding: 5px 0
				&::before
					content: ''
					position: absolute
					top: 100%
					margin-top: 5px
					left: 50%
					width: 0
					height: 4px
					background-color: transparent
					transition: all .2s
					transform: translateX(-50%)
				&:hover
					&::before
						background-color: $color
						width: 100%
				a
					color: inherit
					text-decoration: none
					font-size: 20px
					font-weight: 100
				&.services-trigger
					&::after
						content: '\e911'
						font-size: 6px
						display: inline-block
						vertical-align: middle
						position: relative
						top: -2px
						margin-left: 7px
		&__search
			margin: 6px 30px 0
			padding: 0 4px
			line-height: 1
			background-color: transparent
			border: none
			font-size: 15px
			position: relative
			cursor: pointer
			&::before
				content: '\e903'
			&::after
				content: ''
				position: absolute
				top: 100%
				margin-top: 10px
				left: 50%
				width: 0
				height: 4px
				background-color: transparent
				transition: all .2s
				transform: translateX(-50%)
			&.show
				&::after
					background-color: $color
					width: 100%
		.services
			color: #fff
			padding-top: 15px
			padding-bottom: 15px
			padding-left: 190px
			ul
				margin: 0 4px 4px 0
				width: 25%
			li
				font-weight: 100
			a
				color: inherit
				text-decoration: none
				&:hover
					text-decoration: underline
			&__groupCaption
				font-size: 16px
				font-weight: 500 !important
				margin: 8px 0 !important
				background-image: none !important
				&:only-child
					margin-bottom: 0 !important
		&.collapsed
			#logo-btm
				display: none
			.services
				padding-left: 90px
			.header
				&__address,
				&__openpopup,
				&__socials
					display: none
				&__inner
					padding-left: 90px
					padding-top: 0
					padding-bottom: 0
				&__bottom
					padding-right: 220px
				&__phone
					font-size: 22px
				&__top
					margin-bottom: 0
				&__contacts
					position: absolute
					top: 50%
					right: 0
					transform: translateY(-50%)
				&__logo
					width: 55px
					top: 5px
				&__nav 
					li
						padding: 0
						&::before
							margin-top: -4px
					a
						padding: 21px 0
						display: inline-block

	.search
		max-width: 250px
		padding: 2px
		box-shadow: 10px 10px 15px rgba(#010101, .13)
		&__title,
		&__close
			display: none
		&__inner
			padding: 0
		&__field
			box-shadow: none
			padding-left: 0
			&::before
				display: none

	.popup
		&__inner
			padding: 20px
		&__title
			font-size: 30px
			margin-bottom: 15px
		&__close
			top: 25px
		&--review
			.form
				flex-wrap: wrap
				flex-direction: row
				&__footer
					flex-direction: row
					width: 100%
					justify-content: space-between
					align-items: center
				&__submit
					margin: 0 0 0 auto !important
					max-width: 200px
			input.form__field
				max-width: calc(50% - 10px)

	.form
		&__field
			font-size: 17px
		&__footer
			flex-direction: column
		&--popup
			.form
				&__field
					margin-right: 10px
				&__submit
					margin: 10px 0 0
				&__helper
					text-align: left
		&--horizontal
			display: flex
			justify-content: space-between
			align-items: center
			.form__field
				margin-bottom: 0

	.slider
		&__item
			background-size: cover
			background-position: 50% 50%
			background-repeat: no-repeat
			&-inner
				max-width: $container
			&-content
				text-align: left
				font-size: 16px
				font-weight: 300
				padding-right: 57%
				p
					font-size: 20px
				ul
					font-size: 25px
				li::before
					top: 15px
				.btn
					width: auto
					display: inline-block
					margin-right: 35px
				.pdfLink
					max-width: 200px
					display: inline-block
					vertical-align: middle

	.slick-prev
		left: 5px
		margin-left: 0
	.slick-next
		right: 5px
		margin-right: 0

	.servicesMain
		padding: 40px 0 0
		background-color: #fff
		background-image: linear-gradient(to bottom, $color 50%, 50%, #fff)
		&__inner
			padding: 0 45px
		&__title
			font-size: 50px
			margin-bottom: 0
		&__subtitle
			font-size: 20px
		&__box
			margin: 20px 0 0
			padding: 15px 20px
		.services
			font-size: 17px
			text-align: left
			ul
				margin: 0 25px 25px 0
				width: 28%
			li
				padding-left: 45px
			&__groupCaption
				font-size: 25px !important
				margin-bottom: 10px
		&__form
			background-color: $color
			margin: 0 50px
		.form
			padding: 20px
			&__btn,
			&__submit
				margin: 0
				max-width: none
				width: auto
			&__btn
				text-transform: uppercase
				padding: 7px 10px
				margin-left: 30px
			&__submit
				margin-left: auto
				margin-right: 30px
			&__field
				margin-right: 20px
				margin-bottom: 0
				flex: 1 0 155px

	.portfolioMain
		&__title
			font-size: 50px	
		&__list
			padding: 0 20px
		&__item
			margin: 0 10px

	.clientsMain
		&__title
			font-size: 50px	
		&__list
			padding: 0 20px
		&__item
			margin: 0 20px
		.slick-list
			max-width: none

	.orderMain
		margin-top: 160px
		&__inner
			padding: 20px
			padding-left: 320px
			&::before
				left: 160px
				bottom: 0
				top: auto
		&__title
			text-align: left
			margin: 0 0 5px
			font-size: 30px
			font-weight: 300
		&__text
			margin: 0
			font-size: 16px
			font-weight: 300
			display: block
		.form
			&__submit,
			&__field
				max-width: 180px
			&__submit
				margin-top: 0
				display: inline-block

	.order
		margin-top: 130px
		&__inner
			padding: 20px
			padding-left: 220px
			&::before
				left: 110px
				bottom: 0
				top: auto
		&__title
			text-align: left
			margin: 0 0 5px
			font-size: 30px
			font-weight: 300
		&__text
			margin: 0
			font-size: 16px
			font-weight: 300
			display: block
		.form
			&__field
				max-width: 160px
			&__submit
				margin-top: 0
				display: inline-block
				max-width: 180px

	.advantagesMain
		display: block
		padding-top: 50px
		background-color: $color
		color: #fff
		font-size: 16px
		font-weight: 300
		position: relative
		z-index: 1
		&::before
			content: ''
			position: absolute
			left: 0
			clip-path: polygon(52% 0, 0% 100%, 100% 100%)
			height: 90px
			width: 100%
			top: -89px
			background-color: $color
		&__title
			font-size: 30px
			font-weight: 700
			text-transform: uppercase
			margin: 0
		&__list
			display: flex
			padding: 0 20px
		&__item
			flex: 1 1 20%
			margin: 0 15px
			font-size: 16px
			padding-top: 150px
			position: relative
			&::before
				position: absolute
				top: 0
				left: 50%
				transform: translateX(-50%)
				font-size: 130px
				opacity: .7
			&--1
				&::before
					content: '\e90d'
			&--2
				&::before
					content: '\e90e'
			&--3
				&::before
					content: '\e905'
			&--4
				&::before
					content: '\e90c'
			&--5
				&::before
					content: '\e906'
		&__top
			text-align: center
			.advantagesMain__title
				margin-bottom: 55px
		&__bottom
			padding-top: 80px
			text-align: left
			padding-left: 50%
			min-height: 400px
			position: relative
			.advantagesMain__title
				margin-bottom: 30px
			li
				padding-left: 30px
				margin: 0 0 10px
			p
				margin: 0 0 10px
			&>*:last-child
				margin-bottom: 0
			&::before
				content: ''
				background-image: url(../img/advantages-man.png)
				position: absolute
				top: 100px
				left: 0
				width: 500px
				height: 293px

	.opinionMain
		&__title
			font-size: 50px	
		&__subtitle
			font-size: 20px	
		&__item
			margin: 0 10px
		.slick-list
			overflow: hidden
			padding-left: 10px
			padding-right: 10px
			z-index: 1
		
	.contactsMain
		position: relative
		padding-top: 300px
		margin-top: -240px
		&::before
			content: ''
			position: absolute
			z-index: 1
			left: 0
			clip-path: polygon(52% 0, 0% 100%, 100% 100%)
			height: 90px
			width: 100%
			top: -89px
			background-color: #fff
		&__title
			font-size: 50px	
		&__subtitle
			font-size: 20px	
		&__info
			position: absolute
			right: 15px
			left: 15px
			bottom: 15px
			background-color: #fff
			padding: 15px 50px
			display: flex
			justify-content: space-between
			align-items: center
			text-align: left
		&__contacts
			text-align: right
		&__name
			margin: 0
			font-size: inherit
		&__company
			font-size: 20px
		&__name,
		&__address,
		&__hours
			line-height: 1.2
		&__map
			height: 520px

	.footer
		text-align: left
		&__inner
			overflow: visible
			display: block
		&__contacts
			float: right
			width: 35%
			margin-top: 0
			text-align: right
		&__socials
			display: inline-block
			font-size: 25px
			margin-top: 0
			margin-right: 10px
		&__phones
			line-height: 1
			margin-top: -4px
		&__links,
		&__sitemap,
		&__copyright
			width: 65%
		&__links
			margin-bottom: 20px
			ul
				display: flex
				justify-content: space-between
		&__name
			display: inline-block
			margin-right: 15px
		&__copyright
			margin-top: 20px

	.breadcrumbs
		&__item
			&:last-child
				display: inline-block

	.hero
		overflow: visible
		&__container
			max-width: $container
		&__info
			padding: 0
			left: 15px
		&__title
			font-size: 50px
		&__form
			display: block
			position: absolute
			bottom: calc(100% - 20px)
			right: 15px
			max-width: 285px
			.form
				&__inner
					background-color: rgba(#f1f1f1,.6)
					padding: 15px 15px 0
				&__submit
					max-width: none
					width: 100%
					display: block
					font-size: 18px

	.main
		&__form
			display: none
		&__back
			display: block
			position: absolute
			left: calc(100% + 40px)
			white-space: nowrap
			&:hover
				text-decoration: none
		&__wrapper
			display: table
			table-layout: fixed
			width: 100%
		&__content,
		&__sidebar
			display: table-cell
			vertical-align: top
		&__sidebar
			width: 315px
			padding-left: 40px
			padding-top: 23px
			.services
				ul
					margin-bottom: 20px
				li
					font-size: 17px
					font-weight: 300
				a
					text-decoration: none
					&:hover
						text-decoration: underline
				&__groupCaption
					font-weight: 500 !important
					background-image: none !important
		&__title
			font-size: 48px
			line-height: 1.33
			margin-top: 30px
			margin-bottom: 15px
		&__sideTitle
			font-size: 25px
			text-transform: uppercase
			font-weight: 700
			margin: 50px 0
			line-height: 1.2
		&__meta
			flex-direction: row
			justify-content: space-between
			align-items: center
		&__info,
		&__tags
			display: inline-block
			vertical-align: middle
			order: 1
		&__tags
			margin-bottom: 0
		&__info
			span
				display: inline-block
			span+span
				margin-left: 8px
		&--service
			.main__wrapper
				margin-top: 40px
		&--article
			.content
				margin-top: 35px
		&--portfolio
			.main__back
				transform: translateX(-315px)
		&--services
			.main__sidebar
				padding-top: 65px

	.slideShow
		a
			text-decoration: none
			background-size: cover
			background-position: 50% 50%
			display: block
			height: 450px

	.priceList
		width: 100%
		margin: 0
		thead
			td, th
				text-align: left
				padding-top: 5px
				&:first-child
					padding-left: 20px
				&:last-child
					padding-right: 20px
					text-align: center
					white-space: nowrap
		tbody
			td
				padding-top: 5px
				padding-left: 15px
				padding-right: 15px
				&:first-child
					padding-left: 20px
				&:last-child
					padding-right: 20px
					text-align: center
					white-space: nowrap

	.popularArtciles
		width: auto
		margin: 60px 0 0
		&__title
			font-size: 30px
			padding: 0
		&__item
			display: block
			padding: 0
			margin-top: 20px
		&__meta
			display: flex
			justify-content: space-between
			margin-bottom: 5px
		&__info
			margin: 0
			font-weight: 300
			span
				display: inline-block
			span+span
				margin-left: 8px

	.sideArtciles
		&__item
			margin-bottom: 20px
		&__theme
			color: #c9c9c9
			font-weight: 300
			line-height: 1.2
			display: block
			text-decoration: none
			strong
				font-size: 16px
				color: #000
				position: relative
				&::after
					content: ''
					width: 4px
					height: 4px
					background-color: #000
					border-radius: 50%
					display: inline-block
					position: relative
					bottom: 3px
					margin: 0 5px 0 7px
			&:hover
				color: #000
				strong
					color: $color
		&__tags
			margin-left: -2px
		.tags
			&__item
				background-color: #c9c9c9
				&:hover
					background-color: transparent

	.reviews
		width: auto
		margin: 60px 0 0 
		position: relative
		&__title
			font-size: 30px
			padding: 0 170px 0 0 
		&__addnew
			padding: 0
			position: absolute
			top: 8px
			right: 0
			font-size: 20px
			margin: 0
		&__item
			padding: 15px 0 0
			margin: 20px 0 50px

	.portfolio
		&__list
			margin: 25px -15px 10px 0
		&__item
			width: calc(25% - 15px)
			height: 360px
			margin: 0 15px 15px 0
		&__meta
			padding-right: 275px
		&__disclamer
			position: absolute
			display: block
			bottom: 0
			right: 0
			max-width: 275px
			padding-left: 8px
			border-left: 1px solid $color
			font-size: 14px
			font-weight: 300
			strong
				font-weight: 500
				font-size: 16px
				display: block

	.notFound
		&__num
			font-size: 330px
		&__sign
			font-size: 50px
		&__search
			top: 150px
		&__submit
			padding: 10px 20px
			font-size: 17px

	.contacts
		&__location
			display: flex
			box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.18)
		&__map
			width: 75%
			height: 440px
		&__form
			width: 25%
			margin-top: 0
			&::before
				margin-left: -147px

	.contactsForm
		box-shadow: none
		padding: 25px 30px 0
		display: flex
		flex-direction: column
		justify-content: space-between
		&__title
			font-size: 26px
			text-align: left
		&__text
			display: block
			margin: 0
		&__form
			margin-top: auto
		.form
			&__submit
				max-width: none
				width: calc(100% + 60px)
				margin-left: -30px
				margin-top: 30px

	.servicesPage
		.services
			text-align: left
			ul
				width: 29%
				margin: 0 25px 25px 0
			&__groupCaption
				background-position: 0 0
				background-size: 47px
				padding-top: 50px
		&__text
			text-align: left
		.form
			margin: 0
			width: 100%
			margin-top: 15px
			max-width: none
			&__field
				margin-right: 20px
			&__submit
				max-width: none
				padding: 5px 20px


@media only screen and (min-width : 1160px)
	.slick-prev
		left: 50%
		margin-left: -585px
	.slick-next
		right: 50%
		margin-right: -585px	

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.orderMain .form
		&__field
			width: auto
		&__submit
			width: auto

	.portfolioMain
		&__item
			display: flex
			justify-content: center
			align-items: center
			img
				width: auto
				height: auto