@import "bourbon"

@media only screen and (max-width : 991px)
	.slick-arrow
		background-color: rgba(255,255,255,.5)
	.slider	
		&__item
			background-image: none !important
		.slick-dots
			display: none !important
	.servicesMain
		.services__groupCaption
			background-image: none !important
		.services 
			height: auto !important
			ul
				position: relative !important
				left: auto !important
				top: auto !important
				transform: none !important

@media only screen and (min-width : 480px)
	.slick-prev
		left: 50%
		margin-left: -245px
	.slick-next
		right: 50%
		margin-right: -245px
	.clientsMain 
		&__list
			padding: 0 10px
		.slick-list
			max-width: none
	.opinionMain
		.slick-list
			max-width: none
			overflow: hidden

@media only screen and (min-width : 992px)
	$container: 1140px
	.mobile
		display: none

	.container
		max-width: $container

	.header
		display: block
		position: relative
		&__inner
			padding-left: 190px
		&__main
			border-bottom: 2px solid $color
			background-color: #fff
			position: relative
			z-index: 3
		&__top
			display: flex
			margin-bottom: 15px
		&__bottom
			display: flex
			align-items: center
		&__services
			background-color: $color
			box-shadow: 0 0 0 0 transparent
			transform: translate3d(0,-100%,0)
			transition: all .2s
			position: absolute
			z-index: 2
			top: 100%
			left: 0
			width: 100%
			overflow: hidden
			&.show
				box-shadow: 0 20px 10px 3px rgba(#010101, .2)
				transform: translate3d(0,0,0)
		&__inner
			position: relative
			padding-top: 18px
			padding-bottom: 9px
			line-height: 1
		&__logo
			position: absolute
			left: 0
			top: 10px
		&__address
			font-size: 18px
			font-weight: 100
		&__email
			font-weight: 500
			color: inherit
			position: relative
			margin-left: 35px
			&::before
				content: ''
				position: absolute
				top: 50%
				margin-top: -3px
				left: -21px
				width: 6px
				height: 6px
				background-color: $color
			&:hover
				color: $color
		&__contacts
			margin-left: auto
			text-align: right
		&__phone
			font-weight: 700
			font-size: 25px
			display: block
			color: inherit
			text-decoration: none
			&:hover
				color: $color
		&__openpopup
			font-size: 18px
			font-weight: 100
			text-decoration: underline
			padding: 0
			border: none
			background-color: transparent
			cursor: pointer
			margin-top: 5px
			&:hover
				text-decoration: none
		&__socials
			font-size: 28px
			white-space: nowrap
		&__nav
			flex-basis: 100%
			ul
				display: flex
				justify-content: space-between
			li
				position: relative
				padding: 5px 0
				&::before
					content: ''
					position: absolute
					top: 100%
					margin-top: 5px
					left: 50%
					width: 0
					height: 4px
					background-color: transparent
					transition: all .2s
					transform: translateX(-50%)
				&:hover
					&::before
						background-color: $color
						width: 100%
				a
					color: inherit
					text-decoration: none
					font-size: 20px
					font-weight: 100
				&.services-trigger
					&::after
						content: '\e911'
						font-size: 6px
						display: inline-block
						vertical-align: middle
						position: relative
						top: -2px
						margin-left: 7px
		&__search
			margin: 6px 30px 0
			padding: 0 4px
			line-height: 1
			background-color: transparent
			border: none
			font-size: 15px
			position: relative
			cursor: pointer
			&::before
				content: '\e903'
			&::after
				content: ''
				position: absolute
				top: 100%
				margin-top: 10px
				left: 50%
				width: 0
				height: 4px
				background-color: transparent
				transition: all .2s
				transform: translateX(-50%)
			&.show
				&::after
					background-color: $color
					width: 100%
		.services
			color: #fff
			padding-top: 15px
			padding-bottom: 15px
			padding-left: 190px
			ul
				margin: 0 4px 4px 0
				width: 25%
			li
				font-weight: 100
			a
				color: inherit
				text-decoration: none
				&:hover
					text-decoration: underline
			&__groupCaption
				font-size: 16px
				font-weight: 500 !important
				margin: 8px 0 !important
				background-image: none !important
				&:only-child
					margin-bottom: 0 !important

	.search
		max-width: 250px
		padding: 2px
		box-shadow: 10px 10px 15px rgba(#010101, .13)
		&__title,
		&__close
			display: none
		&__inner
			padding: 0
		&__field
			box-shadow: none
			padding-left: 0
			&::before
				display: none

	.popup
		&__inner
			padding: 20px
		&__title
			font-size: 30px
			margin-bottom: 15px
		&__close
			top: 25px

	.form
		&__field
			font-size: 17px
		&__footer
			flex-direction: column
		&--popup
			.form
				&__field
					margin-right: 10px
				&__submit
					margin: 10px 0 0
				&__helper
					text-align: left
		&--horizontal
			display: flex
			justify-content: space-between
			align-items: center
			.form__field
				margin-bottom: 0

	.slider
		&__item
			background-size: cover
			background-position: 50% 50%
			background-repeat: no-repeat
			&-inner
				max-width: $container
			&-content
				text-align: left
				font-size: 16px
				font-weight: 300
				padding-right: 57%
				p
					font-size: 20px
				ul
					font-size: 25px
				li::before
					top: 15px
				.btn
					width: auto
					display: inline-block
					margin-right: 35px
				.pdfLink
					max-width: 200px
					display: inline-block
					vertical-align: middle

	.slick-prev
		left: 5px
		margin-left: 0
	.slick-next
		right: 5px
		margin-right: 0

	.servicesMain
		padding: 40px 0 0
		background-color: #fff
		background-image: linear-gradient(to bottom, $color 50%, 50%, #fff)
		&__inner
			padding: 0 45px
		&__title
			font-size: 50px
			margin-bottom: 0
		&__subtitle
			font-size: 20px
		&__box
			margin: 20px 0 0
			padding: 15px 20px
		.services
			font-size: 17px
			text-align: left
			ul
				margin: 0 25px 25px 0
				width: 28%
			li
				padding-left: 45px
			&__groupCaption
				font-size: 25px !important
				margin-bottom: 10px
		&__form
			background-color: $color
			margin: 0 50px
		.form
			padding: 20px
			&__btn,
			&__submit
				margin: 0
				max-width: none
				width: auto
			&__btn
				text-transform: uppercase
				padding: 7px 10px
				margin-left: 30px
			&__submit
				margin-left: auto
				margin-right: 30px
			&__field
				margin-right: 20px
				margin-bottom: 0
				flex: 1 0 155px

	.portfolioMain
		&__list
			padding: 0 20px
		&__item
			margin: 0 10px

	.clientsMain 
		&__list
			padding: 0 20px
		&__item
			margin: 0 20px
		.slick-list
			max-width: none

	.orderMain
		margin-top: 160px
		&__inner
			padding: 20px
			padding-left: 320px
			&::before
				left: 160px
				bottom: 0
				top: auto
		&__title
			text-align: left
			margin: 0 0 5px
			font-size: 30px
			font-weight: 300
		&__text
			margin: 0
			font-size: 16px
			font-weight: 300
			display: block
		.form
			&__submit
				margin-top: 0

	.advantagesMain
		display: block
		padding-top: 50px
		background-color: $color
		color: #fff
		font-size: 16px
		font-weight: 300
		position: relative
		z-index: -1
		&::before
			content: ''
			position: absolute
			left: 50%
			clip-path: polygon(52% 0, 0% 100%, 100% 100%)
			height: 90px
			width: 2000px
			top: -89px
			margin-left: -1000px
			background-color: $color
		&__title
			font-size: 30px
			font-weight: 700
			text-transform: uppercase
			margin: 0
		&__list
			display: flex
			padding: 0 20px
		&__item
			flex: 1 1 20%
			margin: 0 15px
			font-size: 16px
			padding-top: 150px
			position: relative
			&::before
				position: absolute
				top: 0
				left: 50%
				transform: translateX(-50%)
				font-size: 130px
				opacity: .7
			&--1
				&::before
					content: '\e90d'
			&--2
				&::before
					content: '\e90e'
			&--3
				&::before
					content: '\e905'
			&--4
				&::before
					content: '\e90c'
			&--5
				&::before
					content: '\e906'
		&__top
			text-align: center
			.advantagesMain__title
				margin-bottom: 55px
		&__bottom
			padding-top: 80px
			text-align: left
			padding-left: 50%
			min-height: 400px
			position: relative
			.advantagesMain__title
				margin-bottom: 30px
			li
				padding-left: 30px
				margin: 0 0 10px
			p
				margin: 0 0 10px
			&>*:last-child
				margin-bottom: 0
			&::before
				content: ''
				background-image: url(../img/advantages-man.png)
				position: absolute
				top: 100px
				left: 0
				width: 500px
				height: 293px
	.opinionMain
		&__item
			margin: 0 10px
		.slick-list
			overflow: hidden
			padding-left: 10px
			padding-right: 10px

@media only screen and (min-width : 1160px)
	.slick-prev
		left: 50%
		margin-left: -585px
	.slick-next
		right: 50%
		margin-right: -585px	

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.orderMain .form
		&__field
			width: auto
		&__submit
			width: auto