@import "bourbon"
@import "icon.sass"
@import "mixins"

$color: #e30b13
$font: 'Roboto', sans-serif
$container: 480px

html
	box-sizing: border-box
	min-height: 100%
	height: 100%

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
  color: #bbb
  font-family: $font

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #fff
	text-size-adjust: 100%
	-webkit-tap-highlight-color: transparent
	display: flex
	flex-direction: column
	min-height: 100%
	height: 100%

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none
	color: inherit

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font

%container
	width: 100%
	max-width: $container	
	padding: 0 15px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container

.fileType
	display: inline-block
	font-size: 16px
	border-radius: 3px
	border: 1px solid
	line-height: 1
	padding: 2px 5px
	background-color: $color
	color: #fff
	border: none

.w-page
	position: relative
	overflow-x: hidden
	display: flex
	flex-direction: column
	min-height: 100%

.popup
	position: fixed
	z-index: 4
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,.5)
	overflow: auto
	display: none
	&__wrapper
		width: 100%
		height: 100%
	&__container
		vertical-align: middle
		padding: 10px
	&__inner
		margin: 0 auto
		max-width: 600px
		background-color: #fff
		padding: 15px
		position: relative
		box-shadow: 10px 10px 8px rgba(#010101, .15)
	&__title
		margin: 0 0 10px
		font-size: 20px
		font-weight: 100
		padding-right: 30px
	&__close
		position: absolute
		top: 15px
		right: 10px
		padding: 10px
		line-height: 1
		border: none
		background-color: transparent
		font-size: 13px
		color: #000
		cursor: pointer
		&::before
			@extend %icon
			content: '\e910'
	&--callback .popup__inner
		max-width: 350px

.form
	&__field
		width: 100%
		border: none
		font-size: 14px
		font-weight: 300
		color: #000
		padding: 5px 10px
		appearance: none
		border-radius: 0
		margin: 0 0 10px
	&__submit,
	&__btn
		margin: 0 auto
	&__helper
		font-size: 14px
		font-weight: 300
		display: block
	&__footer
		display: flex
		flex-direction: column-reverse
	&--popup
		display: flex
		flex-direction: column
		.form
			&__field
				border: 1px solid #d2d2d2
				margin-right: 10px
			&__submit
				margin-bottom: 10px
				max-width: none
			&__helper
				text-align: center
	&--horizontal
		.form__field
			margin-bottom: 10px


.btn
	width: 100%
	max-width: 200px
	display: table
	font-size: 17px
	font-weight: 300
	line-height: 1.2
	background-color: $color
	border: 1px solid $color
	color: #fff
	text-decoration: none
	padding: 10px 20px
	cursor: pointer
	transition: all .2s
	&:hover
		background-color: transparent
		color: $color
	&--shadow
		box-shadow: 10px 10px 8px rgba(1,1,1,.18)
		&:hover
			background-color: darken($color, 5%)
			color: #fff
			box-shadow: 10px 10px 8px transparent
	&--invert
		color: #fff
		border-color: #fff
		&:hover
			color: $color
			background-color: #fff
	&--link
		padding: 0
		border: none
		text-decoration: underline
		&:hover
			text-decoration: none
			color: #fff
			background-color: transparent

.services
	&__groupCaption
		background-size: contain
		background-repeat: no-repeat
		background-position: 0 0
	li
		position: relative
		sup
			font-size: 10px
			font-weight: 400
			margin-left: 2px

.slick-arrow
	font-size: 0
	padding: 15px 5px
	background-color: rgba(255,255,255,.5)
	border: none
	position: absolute
	z-index: 1
	top: 50%
	margin-top: -25px
	cursor: pointer
	transition: all .2s
	opacity: .7
	&::before
		@extend %icon
		content: '\e904'
		font-size: 25px
		color: #050505
		display: inline-block
	&:hover
		opacity: 1
.slick-next
	right: 0px
	&:hover
		transform: translateX(10px) scale(.85)
.slick-prev
	left: 0
	&::before
		transform: scale(-1,1)
	&:hover
		transform: translateX(-10px) scale(.85)



@import "header"
@import "socials"
@import "slider"
@import "servicesMain"
@import "portfolioMain"
@import "clientsMain"
@import "orderMain"
@import "advantagesMain"
@import "opinionMain"


//ALWAYS END
@import "media"
