@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.popup__close::before, .slick-arrow::before, .mobileNav__search::before, .mobileNav__burger::before, .search__field::before, .search__close::before, .mobileMenu__close::before, .header__search::before,
.header__nav li.services-trigger::after, .socials__item::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bbb;
  font-family: "Roboto", sans-serif;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bbb;
  font-family: "Roboto", sans-serif;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bbb;
  font-family: "Roboto", sans-serif;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bbb;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Roboto", sans-serif;
}

.container, .mobileHeader__inner, .mobileNav, .search__inner, .mobileMenu__inner, .slider__item-inner {
  width: 100%;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

.fileType {
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid;
  line-height: 1;
  padding: 2px 5px;
  background-color: #e30b13;
  color: #fff;
  border: none;
}

.w-page {
  position: relative;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.popup {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: none;
}

.popup__wrapper {
  width: 100%;
  height: 100%;
}

.popup__container {
  vertical-align: middle;
  padding: 10px;
}

.popup__inner {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 15px;
  position: relative;
  -webkit-box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.15);
  box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.15);
}

.popup__title {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 100;
  padding-right: 30px;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 10px;
  line-height: 1;
  border: none;
  background-color: transparent;
  font-size: 13px;
  color: #000;
  cursor: pointer;
}

.popup__close::before {
  content: '\e910';
}

.popup--callback .popup__inner {
  max-width: 350px;
}

.form__field {
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  padding: 5px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0 0 10px;
}

.form__submit, .form__btn {
  margin: 0 auto;
}

.form__helper {
  font-size: 14px;
  font-weight: 300;
  display: block;
}

.form__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.form--popup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form--popup .form__field {
  border: 1px solid #d2d2d2;
  margin-right: 10px;
}

.form--popup .form__submit {
  margin-bottom: 10px;
  max-width: none;
}

.form--popup .form__helper {
  text-align: center;
}

.form--horizontal .form__field {
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  max-width: 200px;
  display: table;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
  background-color: #e30b13;
  border: 1px solid #e30b13;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: transparent;
  color: #e30b13;
}

.btn--shadow {
  -webkit-box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.18);
  box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.18);
}

.btn--shadow:hover {
  background-color: #cb0a11;
  color: #fff;
  -webkit-box-shadow: 10px 10px 8px transparent;
  box-shadow: 10px 10px 8px transparent;
}

.btn--invert {
  color: #fff;
  border-color: #fff;
}

.btn--invert:hover {
  color: #e30b13;
  background-color: #fff;
}

.btn--link {
  padding: 0;
  border: none;
  text-decoration: underline;
}

.btn--link:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

.services__groupCaption {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services li {
  position: relative;
}

.services li sup {
  font-size: 10px;
  font-weight: 400;
  margin-left: 2px;
}

.slick-arrow {
  font-size: 0;
  padding: 15px;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  opacity: .7;
}

.slick-arrow::before {
  content: '\e904';
  font-size: 25px;
  color: #050505;
  display: inline-block;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-next {
  right: -10px;
}

.slick-next:hover {
  -webkit-transform: translateX(10px) scale(0.85);
  -ms-transform: translateX(10px) scale(0.85);
  transform: translateX(10px) scale(0.85);
}

.slick-prev {
  left: -10px;
}

.slick-prev::before {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.slick-prev:hover {
  -webkit-transform: translateX(-10px) scale(0.85);
  -ms-transform: translateX(-10px) scale(0.85);
  transform: translateX(-10px) scale(0.85);
}

.mobileHeader {
  background-color: #e30b13;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 2px 0 4px;
}

.mobileHeader__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mobileHeader__socials {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
  font-size: 25px;
  margin-right: auto;
}

.mobileHeader__link {
  color: #fff;
  line-height: 1;
  font-weight: 100;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.mobileHeader__link--phone {
  text-decoration: none;
}

.mobileHeader__link + .mobileHeader__link {
  margin-left: 8px;
  position: relative;
}

.mobileHeader__link + .mobileHeader__link::before {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: -5px;
}

.mobileNav {
  text-align: center;
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobileNav__logo {
  margin: 0 20%;
  max-width: 60px;
}

.mobileNav__search, .mobileNav__burger {
  padding: 15px;
  line-height: 1;
  background-color: transparent;
  border: none;
}

.mobileNav__search::before {
  content: '\e903';
  font-size: 15px;
}

.mobileNav__burger::before {
  content: '\e90f';
  font-size: 17px;
}

.mobileNav__menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.mobileNav__menu.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.search {
  background-color: #e30b13;
  padding: 50px 0;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.search__inner {
  position: relative;
}

.search__title {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.search__field {
  background-color: #fff;
  -webkit-box-shadow: 0 0 9px 3px rgba(1, 1, 1, 0.3);
  box-shadow: 0 0 9px 3px rgba(1, 1, 1, 0.3);
  padding-left: 20px;
  position: relative;
}

.search__field input[type="search"] {
  width: 100%;
  border: none;
  height: 28px;
  padding: 0 8px;
}

.search__field::before {
  content: '\e903';
  position: absolute;
  left: 6px;
  top: 50%;
  font-size: 15px;
  margin-top: -8px;
}

.search__close {
  position: absolute;
  top: -12px;
  right: 0;
  padding: 15px;
  line-height: 1;
  border: none;
  background-color: transparent;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}

.search__close::before {
  content: '\e910';
}

.mobileMenu {
  background-color: #e30b13;
  padding: 50px 0;
  color: #fff;
  overflow: auto;
}

.mobileMenu__inner {
  position: relative;
}

.mobileMenu__title {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.mobileMenu__close {
  position: absolute;
  top: 3px;
  right: 15px;
  padding: 0;
  line-height: 1;
  border: none;
  background-color: transparent;
  font-size: 13px;
  color: #fff;
}

.mobileMenu__close::before {
  content: '\e910';
}

.mobileMenu li + li {
  margin-top: 8px;
}

.mobileMenu li a {
  font-weight: 100;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.2;
}

.mobileMenu__socials {
  font-size: 25px;
  margin: 70px 0 10px;
}

.mobileMenu__address, .mobileMenu__email, .mobileMenu__phone {
  display: block;
  line-height: 1;
  color: inherit;
  text-decoration: none;
}

.mobileMenu__address {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 3px;
}

.mobileMenu__email {
  font-size: 19px;
  font-weight: 500;
}

.mobileMenu__phone {
  font-size: 22px;
  font-weight: 700;
  margin: 25px 0 2px;
}

.mobileMenu__openpopup {
  font-size: 19px;
  font-weight: 100;
  text-decoration: underline;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #fff;
}

.mobileMenu .fileType {
  background-color: transparent;
  border: 1px solid;
}

.header {
  display: none;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  text-decoration: none;
  line-height: 1.1em;
  position: relative;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.socials__item::before {
  font-size: .7em;
  position: absolute;
  top: 50%;
  left: 50%;
}

.socials__item--whatsapp {
  background-color: #09D261;
}

.socials__item--whatsapp::before {
  content: '\e900';
  margin-left: -.5em;
  margin-top: -.5em;
}

.socials__item--viber {
  background-color: #665CAC;
}

.socials__item--viber::before {
  content: '\e901';
  margin-left: -.55em;
  margin-top: -.45em;
}

.socials__item--instagram {
  background-color: #C536A4;
  background-image: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.socials__item--instagram::before {
  content: '\e902';
  margin-left: -.5em;
  margin-top: -.5em;
}

.socials__item + .socials__item {
  margin-left: .2em;
}

.socials__item:hover {
  background: transparent;
  color: #000;
}

.slider {
  background-color: #f1f1f1;
  position: relative;
}

.slider__item-content {
  text-align: center;
  font-size: 15px;
  padding: 25px 20px;
}

.slider__item-content p {
  margin: 0 0 10px;
}

.slider__item-content ul {
  text-align: left;
  margin: 20px 0;
}

.slider__item-content li {
  position: relative;
  padding-left: 10px;
}

.slider__item-content li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #e30b13;
}

.slider__item-content .btn {
  max-width: none;
  margin: 10px 0;
}

.slider .slick-slide img {
  display: inline-block;
}

.slider .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
}

.slider .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.slider .slick-dots li.slick-active button {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  border: 1px solid #e30b13;
  background-color: #fff;
}

.slider .slick-dots button {
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  background-color: #e30b13;
  font-size: 0;
  cursor: pointer;
}

.servicesMain {
  background-color: #e30b13;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.servicesMain__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.servicesMain__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.servicesMain__box {
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.18);
  box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.18);
  padding: 20px 15px;
  margin: 25px 0;
  color: #000;
}

.servicesMain .form__btn, .servicesMain .form__submit {
  max-width: 320px;
  margin: 5px auto;
}

.servicesMain .services ul {
  margin: 0 0 4px;
  width: 100%;
}

.servicesMain .services ul:last-child {
  margin-bottom: 0;
}

.servicesMain .services li {
  font-weight: 300;
}

.servicesMain .services a {
  color: inherit;
  text-decoration: none;
}

.servicesMain .services a:hover {
  text-decoration: underline;
}

.servicesMain .services__groupCaption {
  font-size: 25px;
  font-weight: 700 !important;
  margin-bottom: 10px;
}

.servicesMain .services__groupCaption:only-child {
  margin-bottom: 0 !important;
}

.portfolioMain {
  padding: 60px 0 0;
}

.portfolioMain__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.portfolioMain__item {
  font-size: 0;
  border: 1px solid #9d9d9c;
  border-radius: 2px;
  height: auto;
  margin: 0 5px;
  opacity: .5;
  -webkit-transition: opacity .1s;
  -o-transition: opacity .1s;
  transition: opacity .1s;
  -webkit-box-shadow: 0 0 5px rgba(1, 1, 1, 0.25);
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.25);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 8%;
}

.portfolioMain__item.slick-active {
  opacity: 1;
}

.portfolioMain .slick-list {
  overflow: visible;
}

.portfolioMain .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.clientsMain {
  padding: 60px 0 0;
}

.clientsMain__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.clientsMain .slick-list {
  margin: 0 auto;
  max-width: 180px;
}

.clientsMain__item {
  border-radius: 50%;
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 0 5px;
}

.orderMain {
  margin-top: 297px;
}

.orderMain__inner {
  padding-top: 100px;
  background-color: #f1f1f1;
  padding: 25px;
  -webkit-box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.18);
  box-shadow: 10px 10px 8px rgba(1, 1, 1, 0.18);
  position: relative;
}

.orderMain__inner::before {
  content: '';
  background-image: url(../img/order-man.png);
  background-size: cover;
  width: 197px;
  height: 253px;
  position: absolute;
  top: -253px;
  left: 50%;
  margin-left: -100px;
}

.orderMain__title {
  text-align: center;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 300;
}

.orderMain__text {
  display: none;
}

.orderMain__form {
  margin-top: 15px;
}

.orderMain .form {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.orderMain .form__field {
  margin-right: 20px;
}

.orderMain .form__submit {
  padding: 4px 20px;
  margin-top: 10px;
  max-width: none;
}

@media only screen and (max-width: 991px) {
  .slider__item {
    background-image: none !important;
  }
  .slider .slick-dots {
    display: none !important;
  }
  .servicesMain .services__groupCaption {
    background-image: none !important;
  }
  .servicesMain .services {
    height: auto !important;
  }
  .servicesMain .services ul {
    position: relative !important;
    left: auto !important;
    top: auto !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
}

@media only screen and (min-width: 480px) {
  .slick-prev {
    left: 50%;
    margin-left: -255px;
  }
  .slick-next {
    right: 50%;
    margin-right: -255px;
  }
  .clientsMain__list {
    padding: 0 10px;
  }
  .clientsMain .slick-list {
    max-width: none;
  }
}

@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .container {
    max-width: 1140px;
  }
  .header {
    display: block;
    position: relative;
  }
  .header__inner {
    padding-left: 190px;
  }
  .header__main {
    border-bottom: 2px solid #e30b13;
    background-color: #fff;
    position: relative;
    z-index: 3;
  }
  .header__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  .header__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__services {
    background-color: #e30b13;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .header__services.show {
    -webkit-box-shadow: 0 20px 10px 3px rgba(1, 1, 1, 0.2);
    box-shadow: 0 20px 10px 3px rgba(1, 1, 1, 0.2);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .header__inner {
    position: relative;
    padding-top: 18px;
    padding-bottom: 9px;
    line-height: 1;
  }
  .header__logo {
    position: absolute;
    left: 0;
    top: 10px;
  }
  .header__address {
    font-size: 18px;
    font-weight: 100;
  }
  .header__email {
    font-weight: 500;
    color: inherit;
    position: relative;
    margin-left: 35px;
  }
  .header__email::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: -21px;
    width: 6px;
    height: 6px;
    background-color: #e30b13;
  }
  .header__email:hover {
    color: #e30b13;
  }
  .header__contacts {
    margin-left: auto;
    text-align: right;
  }
  .header__phone {
    font-weight: 700;
    font-size: 25px;
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .header__phone:hover {
    color: #e30b13;
  }
  .header__openpopup {
    font-size: 18px;
    font-weight: 100;
    text-decoration: underline;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
  }
  .header__openpopup:hover {
    text-decoration: none;
  }
  .header__socials {
    font-size: 28px;
    white-space: nowrap;
  }
  .header__nav {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__nav li {
    position: relative;
    padding: 5px 0;
  }
  .header__nav li::before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: transparent;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header__nav li:hover::before {
    background-color: #e30b13;
    width: 100%;
  }
  .header__nav li a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
  }
  .header__nav li.services-trigger::after {
    content: '\e911';
    font-size: 6px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 7px;
  }
  .header__search {
    margin: 6px 30px 0;
    padding: 0 4px;
    line-height: 1;
    background-color: transparent;
    border: none;
    font-size: 15px;
    position: relative;
    cursor: pointer;
  }
  .header__search::before {
    content: '\e903';
  }
  .header__search::after {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: transparent;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header__search.show::after {
    background-color: #e30b13;
    width: 100%;
  }
  .header .services {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 190px;
  }
  .header .services ul {
    margin: 0 4px 4px 0;
    width: 25%;
  }
  .header .services li {
    font-weight: 100;
  }
  .header .services a {
    color: inherit;
    text-decoration: none;
  }
  .header .services a:hover {
    text-decoration: underline;
  }
  .header .services__groupCaption {
    font-size: 16px;
    font-weight: 500 !important;
    margin: 8px 0 !important;
    background-image: none !important;
  }
  .header .services__groupCaption:only-child {
    margin-bottom: 0 !important;
  }
  .search {
    max-width: 250px;
    padding: 2px;
    -webkit-box-shadow: 10px 10px 15px rgba(1, 1, 1, 0.13);
    box-shadow: 10px 10px 15px rgba(1, 1, 1, 0.13);
  }
  .search__title, .search__close {
    display: none;
  }
  .search__inner {
    padding: 0;
  }
  .search__field {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
  }
  .search__field::before {
    display: none;
  }
  .popup__inner {
    padding: 20px;
  }
  .popup__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .popup__close {
    top: 25px;
  }
  .form__field {
    font-size: 17px;
  }
  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form--popup .form__field {
    margin-right: 10px;
  }
  .form--popup .form__submit {
    margin: 10px 0 0;
  }
  .form--popup .form__helper {
    text-align: left;
  }
  .form--horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form--horizontal .form__field {
    margin-bottom: 0;
  }
  .slider__item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .slider__item-inner {
    max-width: 1140px;
  }
  .slider__item-content {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    padding-right: 57%;
  }
  .slider__item-content p {
    font-size: 20px;
  }
  .slider__item-content ul {
    font-size: 25px;
  }
  .slider__item-content .btn {
    width: auto;
    display: inline-block;
    margin-right: 35px;
  }
  .slider__item-content .pdfLink {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
  }
  .slick-prev {
    left: -5px;
    margin-left: 0;
  }
  .slick-next {
    right: -5px;
    margin-right: 0;
  }
  .servicesMain {
    padding: 40px 0 0;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #e30b13), color-stop(50%), to(#fff));
    background-image: -o-linear-gradient(top, #e30b13 50%, 50%, #fff);
    background-image: linear-gradient(to bottom, #e30b13 50%, 50%, #fff);
  }
  .servicesMain__inner {
    padding: 0 45px;
  }
  .servicesMain__title {
    font-size: 50px;
    margin-bottom: 0;
  }
  .servicesMain__subtitle {
    font-size: 20px;
  }
  .servicesMain__box {
    margin: 20px 0 0;
    padding: 15px 20px;
  }
  .servicesMain .services {
    font-size: 17px;
    text-align: left;
  }
  .servicesMain .services ul {
    margin: 0 25px 25px 0;
    width: 28%;
  }
  .servicesMain .services li {
    padding-left: 45px;
  }
  .servicesMain .services__groupCaption {
    font-size: 25px !important;
    margin-bottom: 10px;
  }
  .servicesMain__form {
    background-color: #e30b13;
    margin: 0 50px;
  }
  .servicesMain .form {
    padding: 20px;
  }
  .servicesMain .form__btn, .servicesMain .form__submit {
    margin: 0;
    max-width: none;
    width: auto;
  }
  .servicesMain .form__btn {
    text-transform: uppercase;
    padding: 7px 10px;
    margin-left: 30px;
  }
  .servicesMain .form__submit {
    margin-left: auto;
    margin-right: 30px;
  }
  .servicesMain .form__field {
    margin-right: 20px;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 155px;
    -ms-flex: 1 0 155px;
    flex: 1 0 155px;
  }
  .portfolioMain__list {
    padding: 0 20px;
  }
  .portfolioMain__item {
    margin: 0 10px;
  }
  .clientsMain__list {
    padding: 0 20px;
  }
  .clientsMain__item {
    margin: 0 20px;
  }
  .clientsMain .slick-list {
    max-width: none;
  }
  .orderMain {
    margin-top: 160px;
  }
  .orderMain__inner {
    padding: 20px;
    padding-left: 320px;
  }
  .orderMain__inner::before {
    left: 160px;
    bottom: 0;
    top: auto;
  }
  .orderMain__title {
    text-align: left;
    margin: 0 0 5px;
    font-size: 30px;
    font-weight: 300;
  }
  .orderMain__text {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    display: block;
  }
  .orderMain .form__submit {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1160px) {
  .slick-prev {
    left: 50%;
    margin-left: -595px;
  }
  .slick-next {
    right: 50%;
    margin-right: -595px;
  }
}
