section.advantagesMain
	.container
		.advantagesMain__inner
			.advantagesMain__top
				h2.advantagesMain__title 5 преимуществ делегирования Delonix
				ul.advantagesMain__list
					li.advantagesMain__item.advantagesMain__item--1 Реализация проекта «под ключ» 
					li.advantagesMain__item.advantagesMain__item--2 Высокое качество печати и постпечатной обработки
					li.advantagesMain__item.advantagesMain__item--3 Кратчайшие сроки сдачи проектов 
					li.advantagesMain__item.advantagesMain__item--4 Квалифицированный штат сотрудников
					li.advantagesMain__item.advantagesMain__item--5 Креативный подход и идеи
			.advantagesMain__bottom
				h2.advantagesMain__title Обратитесь к нам, если
				ul
					li Вам важно качество продукта;
					li Вы цените высокий сервис и уровень работы;
					li Нужна возможность общаться со специалистами и быть с ними на связи 24/7;
					li Хотите получить исчерпывающую информацию о том, как лучше выполнить ваш заказ;
					li Ваша цель - сэкономить, не потеряв при этом в качестве.
				p Создание рекламных материалов - сложный процесс, который требует огромной базы знаний и опыта. У нас есть и то и другое!
