.clientsMain
	.container
		.clientsMain__inner
			h2.clientsMain__title Наши клиенты
			ul.clientsMain__list
				li.clientsMain__item
					img(src="img/clients-1.png", alt="")
				li.clientsMain__item
					img(src="img/clients-3.png", alt="")
				li.clientsMain__item
					img(src="img/clients-6.png", alt="")
				li.clientsMain__item
					img(src="img/clients-1.png", alt="")
				li.clientsMain__item
					img(src="img/clients-3.png", alt="")
				li.clientsMain__item
					img(src="img/clients-6.png", alt="")
				li.clientsMain__item
					img(src="img/clients-3.png", alt="")