.contactsMain
	.container
		.contactsMain__inner
			h2.contactsMain__title Контакты
			p.contactsMain__subtitle Мы всегда рады поделиться своим опытом лично. Ниже контакты, по которым вы можете с нами связаться
			.contactsMain__box
				.contactsMain__map#map(style="width:100%;")
				.contactsMain__info
					.contactsMain__company
						p.contactsMain__name ООО «РПК ДЕЛОНИКС»  
						p.contactsMain__address г. Москва, ул. Смольная, д. 24А, офис 43
						p.contactsMain__hours пон-пт с 9:00 до 19:00  
					.contactsMain__contacts
						a.contactsMain__phone(href="") +7 (499) 450 55 74
						a.contactsMain__email(href="") hello@delonix.su


