footer.footer
	.container
		.footer__inner
			section.footer__links
				include _menulist
			a.footer__sitemap(href="") Карта сайта
			section.footer__contacts
				p ООО «РПК ДЕЛОНИКС»
				p ул. Смольная, д. 24А, офис 43
				p Пн-Пт с 9:00 до 19:00
				a(href="") hello@delonix.su
				p 
					a(href="") +7 (499) 450 55 74
					.footer__socials
						include _socials
			small.footer__copyright
				span.footer__name © Delonix 2016	
				| по всем вопросам работы сайта обращаться 
				a(href="") its@delonix.su