.search
	.search__inner
		p.search__title Поиск
		button.search__close
		.search__field
			input(type="search", placeholder="Искать")
.mobile
	header.mobileHeader
		.mobileHeader__inner
			.mobileHeader__socials
				include _socials-short
			a.mobileHeader__link.mobileHeader__link--phone(href="") +7(499)450-55-74
			a.mobileHeader__link.mobileHeader__link--email(href="") hello@delonix.su
	nav.mobileNav
		button.mobileNav__search
		a(href="").mobileNav__logo
			img(src="img/logo.png", alt="")
		button.mobileNav__burger
		.mobileNav__menu.mobileMenu
			.mobileMenu__inner
				p.mobileMenu__title Меню
				button.mobileMenu__close
				include _menulist
				.mobileMenu__socials
					include _socials
				a.mobileMenu__address(href="") ул. Смольная, д. 24А, офис 43
				a.mobileMenu__email(href="") hello@delonix.su
				a.mobileMenu__phone(href="") +7 (499) 450-55-74
				button.mobileMenu__openpopup.js-openpopup(data-popup-id="callback") Заказать звонок
.header
	.header__main
		.container
			.header__inner
				a(href="").header__logo
					img(src="img/logo.png", alt="")
				.header__top
					p.header__address г. Москва, ул. Смольная, д. 24А, офис 43
						a.header__email(href="") hello@delonix.su
					.header__contacts
						a.header__phone(href="") +7 (499) 450-55-74
						button.header__openpopup.js-openpopup(data-popup-id="callback") Заказать звонок
				.header__bottom
					nav.header__nav
						include _menulist
					button.header__search
					.header__socials
						include _socials
	.header__services
		.container
			.services
				include _serviceslist