ul
	li.services-trigger
		a(href="services.html") Услуги
	li
		a(href="portfolio.html") Портфолио
	li
		a(href="about.html") О нас
	li
		a(href="contacts.html") Контакты
	li
		a(href="") Скачать прайс #[small.fileType .pdf]