section.opinionMain
	.container
		article.opinionMain__inner
			h2.opinionMain__title НАШЕ ЭКСПЕРТНОЕ МНЕНИЕ
			p.opinionMain__subtitle Мы подскажем, как сделать лучше и объясним почему
			ul.opinionMain__list
				li.opinionMain__item(style="background-image: url(img/1.jpg)")
					.opinionMain__info
						aside.opinionMain__tags.tags
							a(href="").tags__item Реклама
							a(href="").tags__item Лвйфхак
						a(href="article.html").opinionMain__theme Как правильно экономить на полиграфии
				li.opinionMain__item(style="background-image: url(img/11.jpg)")
					.opinionMain__info
						aside.opinionMain__tags.tags
							a(href="").tags__item Реклама
							a(href="").tags__item Лвйфхак
						a(href="article.html").opinionMain__theme Стоит ли заказывать буклеты на выставки
				li.opinionMain__item(style="background-image: url(img/10.jpg)")
					.opinionMain__info
						aside.opinionMain__tags.tags
							a(href="").tags__item Реклама
							a(href="").tags__item Лвйфхак
						a(href="article.html").opinionMain__theme 6 шагов для успешного делегирования
				li.opinionMain__item(style="background-image: url(img/1.jpg)")
					.opinionMain__info
						aside.opinionMain__tags.tags
							a(href="").tags__item Реклама
							a(href="").tags__item Лвйфхак
						a(href="article.html").opinionMain__theme Стоит ли заказывать буклеты на выставки
				li.opinionMain__item(style="background-image: url(img/11.jpg)")
					.opinionMain__info
						aside.opinionMain__tags.tags
							a(href="").tags__item Реклама
							a(href="").tags__item Лвйфхак
						a(href="article.html").opinionMain__theme Как правильно экономить на полиграфии
