section.opinionMain
	.container
		article.opinionMain__inner
			h2.opinionMain__title НАШЕ ЭКСПЕРТНОЕ МНЕНИЕ
			p.opinionMain__subtitle Мы подскажем, как сделать лучше и объясним почему
			.opinionMain__list
				a.opinionMain__item(style="background-image: url(img/11.jpg)", href="article.html")
					span.opinionMain__info
						span.opinionMain__tags.tags
							span(href="").tags__item Реклама
							span(href="").tags__item Лвйфхак
						span.opinionMain__theme Как правильно экономить на полиграфии
				a.opinionMain__item(style="background-image: url(img/11.jpg)", href="article.html")
					span.opinionMain__info
						span.opinionMain__tags.tags
							span(href="").tags__item Реклама
							span(href="").tags__item Лвйфхак
						span.opinionMain__theme Стоит ли заказывать буклеты на выставки
				a.opinionMain__item(style="background-image: url(img/10.jpg)", href="article.html")
					span.opinionMain__info
						span.opinionMain__tags.tags
							span(href="").tags__item Реклама
							span(href="").tags__item Лвйфхак
						span.opinionMain__theme 6 шагов для успешного делегирования
				a.opinionMain__item(style="background-image: url(img/1.jpg)", href="article.html")
					span.opinionMain__info
						span.opinionMain__tags.tags
							span(href="").tags__item Реклама
							span(href="").tags__item Лвйфхак
						span.opinionMain__theme Стоит ли заказывать буклеты на выставки
				a.opinionMain__item(style="background-image: url(img/11.jpg)", href="article.html")
					span.opinionMain__info
						span.opinionMain__tags.tags
							span(href="").tags__item Реклама
							span(href="").tags__item Лвйфхак
						span.opinionMain__theme Как правильно экономить на полиграфии
