section.orderMain
	.container
		article.orderMain__inner
			h2.orderMain__title Получите бесплатную консультацию специалиста
			p.orderMain__text Заполните форму и наш специалист свяжется с Вами и ответит на все интересующие вопросы
			section.orderMain__form.form
				input.form__field(type="text", placeholder="Имя")
				input.form__field(type="text", placeholder="+7 (___) ___-__-__")
				button.form__submit.btn(type="submit") Заказать звонок
