.portfolioMain
	.container
		.portfolioMain__inner
			h2.portfolioMain__title Портфолио
			ul.portfolioMain__list
				li.portfolioMain__item(data-src="img/portf-1.jpg", data-thumb="img/portf-1.jpg", style="background-image: url(img/portf-1.jpg)")
				li.portfolioMain__item(data-src="img/portf-2.jpg", style="background-image: url(img/portf-2.jpg)")
				li.portfolioMain__item(data-src="img/portf-3.jpg", style="background-image: url(img/portf-3.jpg)")
				li.portfolioMain__item(data-src="img/portf-1.jpg", style="background-image: url(img/portf-1.jpg)")
				li.portfolioMain__item(data-src="img/portf-2.jpg", style="background-image: url(img/portf-2.jpg)")
				li.portfolioMain__item(data-src="img/portf-3.jpg", style="background-image: url(img/portf-3.jpg)")