section.portfolioMain
	.container
		article.portfolioMain__inner
			h2.portfolioMain__title Портфолио
			ul.portfolioMain__list
				li.portfolioMain__item(data-src="img/portf-1.jpg")
					img(src="img/portf-1.jpg", alt="")
				li.portfolioMain__item(data-src="img/portf-2.jpg")
					img(src="img/portf-2.jpg", alt="")
				li.portfolioMain__item(data-src="img/portf-3.jpg")
					img(src="img/portf-3.jpg", alt="")
				li.portfolioMain__item(data-src="img/portf-1.jpg")
					img(src="img/portf-1.jpg", alt="")
				li.portfolioMain__item(data-src="img/portf-2.jpg")
					img(src="img/portf-2.jpg", alt="")
				li.portfolioMain__item(data-src="img/portf-3.jpg")
					img(src="img/portf-3.jpg", alt="")