section.servicesMain
	.container
		article.servicesMain__inner
			h2.servicesMain__title Наши услуги
			p.servicesMain__subtitle Основные направления которыми занимается наша компания
			section.servicesMain__box.services
				include _serviceslist
			section.servicesMain__form.form.form--horizontal
				input.form__field(type="text", placeholder="Имя")
				input.form__field(type="text", placeholder="+7 (___) ___-__-__")
				button.form__submit.btn.btn--link.btn--invert(type="submit") Заказать звонок
				span или
				button.form__btn.btn.btn--invert.js-openpopup(data-popup-id="callback", type="button") Заполнить форму заказа