section.slider
	article.slider__item(style="background-image:url(img/slide-1.png)")
		.slider__item-inner
			.slider__item-content
				h1 Полноценное проектирование и разработка всех визуальных элементов компании от
				img(src="img/logo2.png", alt="")
				ul
					li Разработка фирменного стиля
					li Разработка брендбука
					li Дизайн любой продукции
					li Подбор фирменных цветов
				a(href="").btn.btn--shadow Перейти в раздел
				a(href="").pdfLink Презентация нашей компании&nbsp;#[small.fileType .pdf]
	article.slider__item(style="background-image:url(img/slide-1.png)")
		.slider__item-inner
			.slider__item-content
				h1 Полноценное проектирование и разработка всех визуальных элементов компании от
				img(src="img/logo2.png", alt="")
				ul
					li Разработка фирменного стиля
					li Разработка брендбука
					li Дизайн любой продукции
					li Подбор фирменных цветов
				a(href="").btn.btn--shadow Перейти в раздел
				a(href="").pdfLink Презентация нашей компании&nbsp;#[small.fileType .pdf]