.slider
	.slider__item
		.slider__item-inner
			p Полноценное проектирование и разработка всех визуальных элементов компании от
			img(src="img/logo2.png", alt="")
			ul
				li Разработка фирменного стиля
				li Разработка брендбука
				li Дизайн любой продукции
				li Подбор фирменных цветов
			a(href="").btn.btn--shadow Перейти в раздел
			a(href="") Презентация нашей компании&nbsp;#[small.fileType .pdf]