doctype html
html

	head
		meta(charset='utf-8')
		title Креативное агентство Delonix в Москве | Услуги студии дизайна упаковки
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800,900")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/src/css/lightgallery.css")
		link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel='stylesheet', href='css/style.css', id="mainstyle")
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			include _callback
			include _header
			article.main.main--article
				.container
					section.main__wrapper
						.main__content
							a.main__back(href="") < Назад
							.main__breadcrumbs
								include _breadcrumbs
							h1.main__title О нас
							.content
								p С точки зрения маркетинга, идеальная брошюра привлекает, вызывает интерес, побуждает узнать о предложении больше. За реализацию этих пунктов отвечает ее дизайн. Он является отправной точкой и определяет успех всего издания. Если оформление будет посредственным, то его не спасет даже гениальный контент, ведь читатель попросту не доберется до текстовой информации.
								p Для создания эффективного дизайна брошюр необходим и творческий, и аналитический подход. При этом весь процесс делится на несколько ключевых этапов.
								p Получение основной информации от клиента: 
								ul
									li целевая аудитория и ее предпочтения;
									li география и места распространения брошюр; 
									li главные задачи, которые преследует заказчик дизайна (продвижение продукта, услуги, создание определенного имиджа компании и др.); 
									li наличие и особенности аналогичной продукции у конкурентов; 
									li тираж и бюджет полиграфии (примерная цена услуги определяется уже на этапе согласования); 
									li фирменный стиль компании и дизайнерские предпочтения заказчика; 
									li рекламный материал за более ранний период.
								p На основе полученных данных разрабатывается несколько вариантов дизайна брошюр. К этой работе привлекаются художники, фотографы и редакторы.
							section.main__reviews.reviews
								p.reviews__title «Что говорят наши клиенты»
								button.reviews__addnew.js-openpopup(data-popup-id="review") Оставить отзыв
								.reviews__list
									article.reviews__item
										p.reviews__company ООО «ТК ЯРВЕТ»
										p.reviews__name Золотов Д.Н., директор
										.reviews__text 
											p Компания ООО "ТК Ярвет" выражает искреннюю благодарность компании "Делоникс". Сотрудничая с "Делоникс", мы отметили компетентность, оперативность и стремление вашей компании сделать свою работу качественно и своевременно.
											p Ваша компания - прекрасный партнер, наше сотрудничество было крайне взаимовыгодным. Особенно хотим отметить менеджера Ларису Васильеву, которая оперативно предоставляла информацию, а также продемонстрировала свой профессионализм и качество обслуживания. 
											p В дальнейшем мы планируем сотрудничать с вашей компанией. 
											p Благодарим за ваш профессионализм, компетентность и успешное решение задач!
										p.reviews__date Опубликовано: 11.10.2017
									article.reviews__item
										p.reviews__company ООО «ТК ЯРВЕТ»
										p.reviews__name Золотов Д.Н., директор
										.reviews__text 
											p Компания ООО "ТК Ярвет" выражает искреннюю благодарность компании "Делоникс". Сотрудничая с "Делоникс", мы отметили компетентность, оперативность и стремление вашей компании сделать свою работу качественно и своевременно.
											p Ваша компания - прекрасный партнер, наше сотрудничество было крайне взаимовыгодным. Особенно хотим отметить менеджера Ларису Васильеву, которая оперативно предоставляла информацию, а также продемонстрировала свой профессионализм и качество обслуживания. 
											p В дальнейшем мы планируем сотрудничать с вашей компанией. 
											p Благодарим за ваш профессионализм, компетентность и успешное решение задач!
										p.reviews__date Опубликовано: 11.10.2017
								.reviews__hidden
									article.reviews__item
										p.reviews__company ООО «ТК ЯРВЕТ»111
										p.reviews__name Золотов Д.Н., директор
										.reviews__text 
											p Компания ООО "ТК Ярвет" выражает искреннюю благодарность компании "Делоникс". Сотрудничая с "Делоникс", мы отметили компетентность, оперативность и стремление вашей компании сделать свою работу качественно и своевременно.
											p Ваша компания - прекрасный партнер, наше сотрудничество было крайне взаимовыгодным. Особенно хотим отметить менеджера Ларису Васильеву, которая оперативно предоставляла информацию, а также продемонстрировала свой профессионализм и качество обслуживания. 
											p В дальнейшем мы планируем сотрудничать с вашей компанией. 
											p Благодарим за ваш профессионализм, компетентность и успешное решение задач!
										p.reviews__date Опубликовано: 11.10.2017
									article.reviews__item
										p.reviews__company ООО «ТК ЯРВЕТ»11
										p.reviews__name Золотов Д.Н., директор
										.reviews__text 
											p Компания ООО "ТК Ярвет" выражает искреннюю благодарность компании "Делоникс". Сотрудничая с "Делоникс", мы отметили компетентность, оперативность и стремление вашей компании сделать свою работу качественно и своевременно.
											p Ваша компания - прекрасный партнер, наше сотрудничество было крайне взаимовыгодным. Особенно хотим отметить менеджера Ларису Васильеву, которая оперативно предоставляла информацию, а также продемонстрировала свой профессионализм и качество обслуживания. 
											p В дальнейшем мы планируем сотрудничать с вашей компанией. 
											p Благодарим за ваш профессионализм, компетентность и успешное решение задач!
										p.reviews__date Опубликовано: 11.10.2017
									article.reviews__item
										p.reviews__company ООО «ТК ЯРВЕТ»111
										p.reviews__name Золотов Д.Н., директор
										.reviews__text 
											p Компания ООО "ТК Ярвет" выражает искреннюю благодарность компании "Делоникс". Сотрудничая с "Делоникс", мы отметили компетентность, оперативность и стремление вашей компании сделать свою работу качественно и своевременно.
											p Ваша компания - прекрасный партнер, наше сотрудничество было крайне взаимовыгодным. Особенно хотим отметить менеджера Ларису Васильеву, которая оперативно предоставляла информацию, а также продемонстрировала свой профессионализм и качество обслуживания. 
											p В дальнейшем мы планируем сотрудничать с вашей компанией. 
											p Благодарим за ваш профессионализм, компетентность и успешное решение задач!
										p.reviews__date Опубликовано: 11.10.2017
									article.reviews__item
										p.reviews__company ООО «ТК ЯРВЕТ»11
										p.reviews__name Золотов Д.Н., директор
										.reviews__text 
											p Компания ООО "ТК Ярвет" выражает искреннюю благодарность компании "Делоникс". Сотрудничая с "Делоникс", мы отметили компетентность, оперативность и стремление вашей компании сделать свою работу качественно и своевременно.
											p Ваша компания - прекрасный партнер, наше сотрудничество было крайне взаимовыгодным. Особенно хотим отметить менеджера Ларису Васильеву, которая оперативно предоставляла информацию, а также продемонстрировала свой профессионализм и качество обслуживания. 
											p В дальнейшем мы планируем сотрудничать с вашей компанией. 
											p Благодарим за ваш профессионализм, компетентность и успешное решение задач!
										p.reviews__date Опубликовано: 11.10.2017
								button.reviews__more Загрузить еще
							section.requisites
								.requisites__wrapper
									table.requisites__table
										tbody
											tr
												td
													p Полное наименование организации
												td
													p Общество с ограниченной ответственностью «РПК ДЕЛОНИКС»
											tr
												td
													p Сокращенное наименование
												td
													p ООО «РПК ДЕЛОНИКС»
											tr
												td
													p Юридический адрес
												td
													p 125445 г. Москва, ул. Смольная д. 24А, этаж 12, ком. 43.3
											tr
												td
													p Фактический адрес
												td
													p 125445, г. Москва, ул. Смольная, д.24А, этаж 12, комнаты 43.3
										tbody
										tbody
											tr
												td
													p ОГРН
												td
													p 1187746888471
											tr
												td
													p ИНН
												td
													p 7743279281
											tr
												td
													p КПП
												td
													p 774301001
										tbody
										tbody
											tr
												td
													p Наименование банка
												td
													p АО "АЛЬФА-БАНК"
										tbody
										tbody
											tr
												td
													p Расчётный счёт
												td
													p 40702810602790002986
										tbody
										tbody
											tr
												td
													p Корреспондентский счёт
												td
													p 30101810200000000593в ГУ Банка России по ЦФО
										tbody
										tbody
											tr
												td
													p БИК
												td
													p 044525593
										tbody
										tbody
											tr
												td
													p ОКПО
												td
													p 33827938
										tbody
										tbody
											tr
												td
													p ОКОГУ
												td
										tbody
										tbody
											tr
												td
													p ОКАТО
												td
										tbody
										tbody
											tr
												td
													p ОКФС
												td
										tbody
										tbody
											tr
												td
													p ОКОПФ
												td
										tbody
										tbody
											tr
												td
													p Генеральный директор
												td
													p Литовских Евгения Анатольевна
										tbody
										tbody
											tr
												td
													p Дата регистрации
												td
													p 23.10.2018
										tbody
										tbody
											tr
												td
													p Телефон/факс:
												td
													p +7 499 450 55 74
										tbody
								p.requisites__disclamer Возможна только безналичная оплата
						aside.main__sidebar
							p.main__sideTitle Наши услуги
							.services
								include _serviceslist
							p.main__sideTitle Наши статьи
							section.main__sideArtciles.sideArtciles
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong Как правильно экономить на полиграфии] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Реклама
										a(href="").tags__item Лвйфхак
										a(href="").tags__item dvbsd
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong Стоит ли заказывать буклеты на выставки] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Реклама
										a(href="").tags__item Лвйфхак
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong RGB, CMYK, пантоны…Что нужно знать при размещении заказа? Часть 2] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Лвйфхак
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong 6 шагов для успешного делегирования] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Реклама
										a(href="").tags__item Лвйфхак
							include _slideShow
			include _footer

		script(src="js/jquery.maskedinput.min.js")
		script(src="js/masonry.pkgd.min.js")
		script(src="js/common.js")
