doctype html
html

	head
		meta(charset='utf-8')
		title Креативное агентство Delonix в Москве | Услуги студии дизайна упаковки
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800,900")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/src/css/lightgallery.css")
		link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel='stylesheet', href='css/style.css', id="mainstyle")
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			include _callback
			include _header
			article.main.main--article
				.container
					section.main__wrapper
						.main__content
							a.main__back(href="") < Назад
							.main__breadcrumbs
								include _breadcrumbs
							h1.main__title Как правильно экономить на  полиграфии
							.main__meta
								p.main__info #[span Опубликовано: 11.10.2017] #[span Просмотрено: 1429]
								.main__tags.tags
									a(href="").tags__item Реклама
									a(href="").tags__item Лвйфхак
							.content
								p С точки зрения маркетинга, идеальная брошюра привлекает, вызывает интерес, побуждает узнать о предложении больше. За реализацию этих пунктов отвечает ее дизайн. Он является отправной точкой и определяет успех всего издания. Если оформление будет посредственным, то его не спасет даже гениальный контент, ведь читатель попросту не доберется до текстовой информации.
								section.miniGallery
									a(href="img/portf-1.jpg")
										img(src="img/portf-1.jpg", alt="")
									a(href="img/portf-2.jpg")
										img(src="img/portf-2.jpg", alt="")
									a(href="img/portf-3.jpg")
										img(src="img/portf-3.jpg", alt="")
								p Для создания эффективного дизайна брошюр необходим и творческий, и аналитический подход. При этом весь процесс делится на несколько ключевых этапов.
								table.priceList
									thead
										tr
											th Наименование услуги
											th Стоимость
									tbody
										tr
											td Дизайн брошюр
											td от #[strong 1000 &#8381;]
										tr
											td Подарочный набор «Bari»
											td #[strong 3 054 &#8381;]
								p Получение основной информации от клиента: 
								ul
									li целевая аудитория и ее предпочтения;
									li география и места распространения брошюр; 
									li главные задачи, которые преследует заказчик дизайна (продвижение продукта, услуги, создание определенного имиджа компании и др.); 
									li наличие и особенности аналогичной продукции у конкурентов; 
									li тираж и бюджет полиграфии (примерная цена услуги определяется уже на этапе согласования); 
									li фирменный стиль компании и дизайнерские предпочтения заказчика; 
									li рекламный материал за более ранний период.
								p На основе полученных данных разрабатывается несколько вариантов дизайна брошюр. К этой работе привлекаются художники, фотографы и редакторы.
								p Они создают креативные иллюстрации, подбирают определенную стилистику, формат, шрифты. Разработка ведется с учетом сроков, предварительно согласованной цены и прочих актуальных моментов.
								p Готовые проекты предлагаются клиенту, который при необходимости вносит правки. На этом создание дизайна брошюр завершено. В дальнейшем клиент заказывает верстку и печать продукции в типографии.
								h2 Особенности и основные правила дизайна брошюр
								section.miniGallery
									a(href="img/portf-1.jpg")
										img(src="img/portf-1.jpg", alt="")
									a(href="img/portf-2.jpg")
										img(src="img/portf-2.jpg", alt="")
									a(href="img/portf-3.jpg")
										img(src="img/portf-3.jpg", alt="")
								p Они создают креативные иллюстрации, подбирают определенную стилистику, формат, шрифты. Разработка ведется с учетом сроков, предварительно согласованной цены и прочих актуальных моментов.
							section.main__popular.popularArtciles
								p.popularArtciles__title Популярные статьи по теме:
								.popularArtciles__list
										article.popularArtciles__item
												.popularArtciles__meta
													.popularArtciles__tags.tags
														a(href="").tags__item Реклама
														a(href="").tags__item Лвйфхак
													p.popularArtciles__info #[span Опубликовано: 11.10.2017] #[span Просмотрено: 1429]
												a(href="").popularArtciles__caption Как правильно экономить на полиграфии
												a(href="").popularArtciles__excerpt Не так важен подарок как внимание Важно ли дарить качественные сувениры? Катастрофически важно. Чрезвычайно. Почему? Да потому что ничто так явно не выражает...
										article.popularArtciles__item
												.popularArtciles__meta
													.popularArtciles__tags.tags
														a(href="").tags__item Реклама
														a(href="").tags__item Лвйфхак
													p.popularArtciles__info #[span Опубликовано: 11.10.2017] #[span Просмотрено: 1429]
												a(href="").popularArtciles__caption Как правильно экономить на полиграфии
												a(href="").popularArtciles__excerpt Не так важен подарок как внимание Важно ли дарить качественные сувениры? Катастрофически важно. Чрезвычайно. Почему? Да потому что ничто так явно не выражает...
										article.popularArtciles__item
												.popularArtciles__meta
													.popularArtciles__tags.tags
														a(href="").tags__item Реклама
														a(href="").tags__item Лвйфхак
													p.popularArtciles__info #[span Опубликовано: 11.10.2017] #[span Просмотрено: 1429]
												a(href="").popularArtciles__caption Как правильно экономить на полиграфии
												a(href="").popularArtciles__excerpt Не так важен подарок как внимание Важно ли дарить качественные сувениры? Катастрофически важно. Чрезвычайно. Почему? Да потому что ничто так явно не выражает...
						aside.main__sidebar
							p.main__sideTitle Наши статьи
							section.main__sideArtciles.sideArtciles
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong Как правильно экономить на полиграфии] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Реклама
										a(href="").tags__item Лвйфхак
										a(href="").tags__item dvbsd
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong Стоит ли заказывать буклеты на выставки] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Реклама
										a(href="").tags__item Лвйфхак
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong RGB, CMYK, пантоны…Что нужно знать при размещении заказа? Часть 2] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Лвйфхак
								article.sideArtciles__item
									a(href="").sideArtciles__theme #[strong 6 шагов для успешного делегирования] Что такое полиграфия? Полиграфия - это отрасль промышленности, занимающаяся изготовлением печатной
									.sideArtciles__tags.tags
										a(href="").tags__item Реклама
										a(href="").tags__item Лвйфхак
							include _slideShow
				include _footer

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")
		script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
		script(src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/js/lightgallery.min.js")
		script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		script(src="https://cdn.jsdelivr.net/npm/jquery-sticky-kit@1.1.3/dist/sticky-kit.min.js")
		script(src="js/common.js")
