doctype html
html

	head
		meta(charset='utf-8')
		title Креативное агентство Delonix в Москве | Услуги студии дизайна упаковки
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800,900")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/src/css/lightgallery.css")
		link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel='stylesheet', href='css/style.css', id="mainstyle")
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			include _callback
			include _header
			article.main.main--contacts
				.container
					section.main__wrapper
						.main__content
							.main__breadcrumbs
								include _breadcrumbs
							h1.main__title Контакты
							.content
								.contacts
									p.contacts__text Мы всегда рады поделиться своим опытом лично. #[br]Ниже контакты, по которым вы можете с нами связаться.
									p.contacts__address г. Москва, ул. Смольная, д. 24А, офис 43, 12 этаж
									a.contacts__phone(href="") +7 (499) 450-55-74
									.contacts__socials
										include _socials
									a.contacts__email(href="") hello@delonix.su
									.contacts__location
										.contacts__map#map
										.contacts__form.contactsForm
											h2.contactsForm__title Получите бесплатную консультацию специалиста
											p.contactsForm__text Заполните форму и наш специалист свяжется с Вами и ответит на все интересующие вопросы
											section.contactsForm__form.form
												input.form__field(type="text", placeholder="Имя")
												input.form__field(type="text", placeholder="+7 (___) ___-__-__", name="phone")
												button.form__submit.btn(type="submit") Заказать звонок
			include _footer

		script(src="js/jquery.maskedinput.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="js/masonry.pkgd.min.js")
		script(src="js/map.js")
		script(src="js/common.js")