doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.popup.popup--callback#callback
				table.popup__wrapper
					tr
						td.popup__container
							.popup__inner
								button.popup__close
								p.popup__title Заказать звонок
								.popup__form.form.form--popup
									input.form__field(type="text", placeholder="Имя")
									input.form__field(type="text", placeholder="+7 (___) ___-__-__")
									input.form__field(type="text", placeholder="E-mail")
									textarea.form__field(placeholder="Ваш заказ", rows=8)
									.form__footer
										small.form__helper Важно заполнить все поля.
										button.form__submit.btn Отправить
			.search
				.search__inner
					p.search__title Поиск
					button.search__close
					.search__field
						input(type="search", placeholder="Искать")
			.mobile
				header.mobileHeader
					.container
						.mobileHeader__socials
							include _socials-short
						a.mobileHeader__link.mobileHeader__link--phone(href="") +7(499)450-55-74
						a.mobileHeader__link.mobileHeader__link--email(href="") hello@delonix.su
				nav.mobileNav
					button.mobileNav__search
					a(href="").mobileNav__logo
						img(src="img/logo.png", alt="")
					button.mobileNav__burger
					.mobileNav__menu.mobileMenu
						.mobileMenu__inner
							p.mobileMenu__title Меню
							button.mobileMenu__close
							include _menulist
							.mobileMenu__socials
								include _socials
							a.mobileMenu__address(href="") ул. Смольная, д. 24А, офис 43
							a.mobileMenu__email(href="") hello@delonix.su
							a.mobileMenu__phone(href="") +7 (499) 450-55-74
							button.mobileMenu__openpopup.js-openpopup(data-popup-id="callback") Заказать звонок
			.header
				.header__main
					.container
						.header__inner
							a(href="").header__logo
								img(src="img/logo.png", alt="")
							.header__top
								p.header__address г. Москва, ул. Смольная, д. 24А, офис 43
									a.header__email(href="") hello@delonix.su
								.header__contacts
									a.header__phone(href="") +7 (499) 450-55-74
									button.header__openpopup.js-openpopup(data-popup-id="callback") Заказать звонок
							.header__bottom
								nav.header__nav
									include _menulist
								button.header__search
								.header__socials
									include _socials
				.header__services
					.container
						.services
							include _serviceslist



		script(src="js/common.js")
