doctype html
html

	head
		meta(charset='utf-8')
		title Креативное агентство Delonix в Москве | Услуги студии дизайна упаковки
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800,900")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/src/css/lightgallery.css")
		link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel='stylesheet', href='css/style.css', id="mainstyle")
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			include _callback
			include _header
			include _slider
			include _servicesMain
			include _portfolioMain
			include _clientsMain
			include _orderMain
			include _advantagesMain
			include _opinionMain
			include _contactsMain

			br
			br
			br
			br
			br
			br
			br
			br
			br
			br

		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
		script(src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/js/lightgallery.min.js")
		script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		script(src="js/common.js")
		script(src="js/map.js")
